#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#include "./keycode_japanese.h"
#include <behaviors/rgbled_widget.dtsi>
#include <input/processors.dtsi>

// マウスの速度設定
// default; 600
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500 
// default; 10
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
};
&msc {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <1>;
};

// マウスキーを押したとき、指定した秒数だけマウスレイヤーを延長する
&mkp_input_listener {
    input-processors = <&zip_temp_layer 5 200>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    macros {
         s_kp: s_kp {
            label = "S_KP";
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <16>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_release &kp LSHFT>
                ;
        };
        cg_kp: cg_kp {
            label = "CG_KP";
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <16>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LCTRL>
                , <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_release &kp LGUI>
                , <&macro_release &kp LCTRL>
                ;
        };
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { //layer 0
            bindings = <
                &mt LALT Q  &kp W  &kp E    &kp R     &kp T      &lt 5 T            &kp Y  &kp U  &lt 4 I       &kp O       &kp P         &kp BSPC
                &kp A       &kp S  &lt 4 D  &kp F     &kp G      &trans             &kp H  &kp J  &kp K         &kp L       &kp JP_MINUS  &kp RET
                &kp LCTRL   &kp Z  &kp X    &kp C     &kp V      &kp B              &kp N  &kp M  &kp JP_COMMA  &kp JP_DOT  &kp JP_SLASH  &kp DEL
                                            &kp LGUI  &lt 1 TAB  &mt LSHFT ESC      &lt 2 SPACE
            >;
        };
        /* layer 0
         *         ┌───┬───┬───┬─5─┐  ┌───┬───┬───┬───┐        
         * ┌Alt┬───┤ E │ R │ T │   │  │ Y │ U │ I │ O ├───┬───┐
         * │ Q │ W ├─2─┼───┼───┼───┤  ├───┼───┼───┼───┤ P │BSP│
         * ├───┼───┤ D │ F │ G │   │  │ H │ J │ K │ L ├───┼───┤
         * │ A │ S ├───┼───┼───┼───┤  ├───┼───┼───┼───┤ - │Ent│
         * ├───┼───┤ X │ C │ V │ B │  │ N │ M │ , │ . ├───┼───┤
         * │Ctl│ Z ├───┴───┴───┴───┘  └───┴───┴───┴───┤ / │Del│
         * └───┴───┘   ┌───┬─1─┬Sft┐  ┌─2─┐           └───┴───┘
         *             │GUI│Tab│Esc│  │Spc│                    
         *             └───┴───┴───┘  └───┘                    
         */

        SYMBOL { //layer 1
            bindings = <
                &s_kp JP_CARET  &s_kp N2     &s_kp N3        &s_kp N4       &s_kp N5     &trans            &s_kp N6     &s_kp N8       &s_kp N9        &s_kp JP_YEN  &kp JP_BSLH     &trans
                &s_kp N1        &kp JP_AT    &s_kp N7        &kp JP_CARET   &s_kp JP_AT  &trans            &kp JP_LBKT  &s_kp JP_LBKT  &s_kp JP_RBKT   &kp JP_RBKT   &s_kp JP_MINUS  &trans
                &trans          &trans       &s_kp JP_COLON  &s_kp JP_SEMI  &trans       &trans            &kp JP_SEMI  &kp JP_COLON   &s_kp JP_COMMA  &s_kp JP_DOT  &s_kp JP_SLASH  &s_kp JP_BSLH
                                                             &trans         &trans       &trans            &trans
            >;
        };
                // &s_kp N1        &s_kp N2     &s_kp N3       &s_kp N4       &s_kp N5        &trans            &s_kp N6       &s_kp N7        &s_kp N8       &s_kp N9      &s_kp JP_BSLH   &trans
                // &kp JP_CARET    &kp JP_AT    &kp JP_LBKT    &kp JP_RBKT    &kp JP_CARET    &trans            &kp JP_SEMI    &kp JP_COLON    &kp JP_BSLH    &s_kp JP_YEN  &s_kp JP_MINUS  &trans
                // &s_kp JP_CARET  &s_kp JP_AT  &s_kp JP_LBKT  &s_kp JP_RBKT  &s_kp JP_CARET  &trans            &s_kp JP_SEMI  &s_kp JP_COLON  &s_kp JP_COMMA &s_kp JP_DOT  &s_kp JP_SLASH  &trans
                //                                             &trans         &trans          &trans            &trans
        /* layer 1
         *         ┌───┬───┬───┬───┐  ┌───┬───┬───┬───┐        
         * ┌───┬───┤ # │ $ │ % │   │  │ & │ ( │ ) │ | ├───┬───┐
         * │ ~ │ " ├───┼───┼───┼───┤  ├───┼───┼───┼───┤ \ │   │
         * ├───┼───┤ ' │ ^ │ ` │   │  │ [ │ { │ } │ ] ├───┼───┤
         * │ ! │ @ ├───┼───┼───┼───┤  ├───┼───┼───┼───┤ = │   │
         * ├───┼───┤ * │ + │   │   │  │ ; │ : │ < │ > ├───┼───┤
         * │   │   ├───┴───┴───┴───┘  └───┴───┴───┴───┤ ? │ _ │
         * └───┴───┘   ┌───┬───┬───┐  ┌───┐           └───┴───┘
         *             │   │   │   │  │   │                    
         *             └───┴───┴───┘  └───┘                    
         */

        NUM { //layer 2
            bindings = <
                &kp F1  &kp F2   &kp F3   &kp F4  &kp F5  &trans                         &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
                &kp N1  &kp N2   &kp N3   &kp N4  &kp N5  &trans                         &kp N6  &kp N7  &kp N8  &kp N9  &kp N0   &trans
                &trans  &kp F11  &kp F12  &trans  &trans  &trans                         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
                                          &trans  &trans  &trans                         &trans
            >;
        };

        /* layer 2(scroll)
         *         ┌───┬───┬───┬───┐  ┌───┬───┬───┬───┐        
         * ┌───┬───┤   │   │   │   │  │   │   │   │   ├───┬───┐
         * │   │   ├───┼───┼───┼───┤  ├───┼───┼───┼───┤   │   │
         * ├───┼───┤ 3 │ 4 │ 5 │   │  │ 6 │ 7 │ 8 │ 9 ├───┼───┤
         * │ 1 │ 2 ├───┼───┼───┼───┤  ├───┼───┼───┼───┤ 0 │   │
         * ├───┼───┤   │   │   │   │  │ ← │ ↓ │ ↑ │ → ├───┼───┤
         * │   │   ├───┴───┴───┴───┘  └───┴───┴───┴───┤   │   │
         * └───┴───┘   ┌───┬───┬───┐  ┌───┐           └───┴───┘
         *             │   │   │   │  │   │                    
         *             └───┴───┴───┘  └───┘                    
         */

        MOUSE { //layer 3
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans                               &trans  &trans    &trans    &trans    &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans                               &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans                               &trans  &trans    &trans    &trans    &trans  &trans
                                        &trans  &trans  &trans                               &trans
            >;
        };
        /* layer 3
         *         ┌───┬───┬───┬───┐  ┌───┬───┬───┬───┐          M1: 
         * ┌───┬───┤   │   │   │   │  │   │   │MB3│   ├───┬───┐  M2: Alt-Left 
         * │Tab│   ├───┼───┼───┼───┤  ├───┼───┼───┼───┤   │   │  M3: Alt-Right
         * ├───┼───┤   │M2 │M3 │N/A│  │   │   │MB1│MB2├───┼───┤  M4: 
         * │   │   ├───┼───┼───┼───┤  ├───┼───┼───┼───┤   │   │
         * ├───┼───┤   │   │   │   │  │MML│MMD│MMU│MMR├───┼───┤
         * │   │   ├───┴───┴───┴───┘  └───┴───┴───┴───┤   │   │
         * └───┴───┘   ┌───┬───┬───┐  ┌───┐           └───┴───┘
         *             │   │   │   │  │   │                    
         *             └───┴───┴───┘  └───┘                    
         */

        FUNCTION { //layer 4
            bindings = <
                &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans                      &cg_kp LEFT_ARROW &cg_kp F4  &cg_kp D   &cg_kp RIGHT_ARROW  &kp PSCRN  &trans
                &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans                      &mkp MB4          &kp PG_DN  &kp PG_UP  &mkp MB5            &kp INS    &trans
                &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans                      &trans            &kp END    &kp HOME   &trans              &trans     &trans
                                        &trans  &trans   &trans                      &trans
            >;
        };
        /* layer 4
         *         ┌───┬───┬───┬───┐  ┌───┬───┬───┬───┐          M1: Win-Ctrl-Left
         * ┌───┬───┤F9 │F10│F11│F12│  │M1 │M2 │M3 │M4 ├───┬───┐  M2: Win-Ctrl-F4
         * │Tab│   ├───┼───┼───┼───┤  ├───┼───┼───┼───┤Prs│   │  M4: Win-Ctrl-D
         * ├───┼───┤F5 │F6 │F7 │F8 │  │MB4│PDn│PUp│MB5├───┼───┤  M3: Win-Ctrl-Right
         * │   │   ├───┼───┼───┼───┤  ├───┼───┼───┼───┤Ins│   │
         * ├───┼───┤F1 │F2 │F3 │F4 │  │   │End│Hom│   ├───┼───┤
         * │   │   ├───┴───┴───┴───┘  └───┴───┴───┴───┤   │   │
         * └───┴───┘   ┌───┬───┬───┐  ┌───┐           └───┴───┘
         *             │   │   │   │  │N/A│                    
         *             └───┴───┴───┘  └───┘                    
         */
        MANAGEMENT { //layer 5
            bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans                  &trans  &trans  &trans  &trans  &trans  &bt BT_CLR
                &trans        &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                &bootloader   &trans        &trans        &ind_con      &trans        &ind_bat                &trans  &trans  &trans  &trans  &trans  &bt BT_CLR_ALL
                                                          &trans        &trans        &trans                  &trans
            >;
        };
        /* layer 5
         *         ┌───┬───┬───┬───┐  ┌───┬───┬───┬───┐        
         * ┌───┬───┤   │   │   │   │  │   │   │   │   ├───┬───┐
         * │Tab│BTL├───┼───┼───┼───┤  ├───┼───┼───┼───┤   │BCL│
         * ├───┼───┤   │   │   │   │  │   │   │   │   ├───┼───┤
         * │   │   ├───┼───┼───┼───┤  ├───┼───┼───┼───┤   │   │
         * ├───┼───┤   │   │   │   │  │   │   │   │   ├───┼───┤
         * │   │   ├───┴───┴───┴───┘  └───┴───┴───┴───┤   │BCA│
         * └───┴───┘   ┌───┬───┬───┐  ┌───┐           └───┴───┘
         *             │   │   │   │  │   │                    
         *             └───┴───┴───┘  └───┘                    
         */

    };
};
//&trans  &trans  &trans  &trans  &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans
//&trans  &trans  &trans  &trans  &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans
//&trans  &trans  &trans  &trans  &trans  &trans                                         &trans  &trans  &trans  &trans  &trans  &trans
//                        &trans  &trans  &trans                                         &trans
