if SHIELD_BOTS40_R

config ZMK_KEYBOARD_NAME
    default "bots40_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BOTS40_L

config ZMK_KEYBOARD_NAME
    default "bots40_L"

config ZMK_SPLIT
    default y

endif
